*{
padding: 0;
margin: 0;
box-sizing: border-box;

}
body{
 height: 2500px;
font-family: Arial, Helvetica, sans-serif;
}


.header{
   z-index: 1;
width: 100%;
height: 60px;
background-color: rgb(159, 159, 159);
position: fixed;
top: 0;
opacity:0.7;
}

.header-img1{
    width: 150px;
    height: 60px;
   float: left;
margin-left: 180px;
}

.header .container li >  a.active::after {
   width: 100%;
}
.container  li > a.active::after {
   content: "";
   width: 0;
   height: 3px;
   display: block;
   background-color: #8e7754;
   margin-top: 2px;
   transition: .5s;
}

.ul1{

    list-style: none;
 float: left;
margin-left: 450px;

}
.ul1 li{
    
  display: inline-block;
    margin-left: 25px;
    margin-top: 16px;
   font-size: 20px;
   color:#151515;

}

/* ////////////////////////////////////////////////////////////////////////////// */
.home{
   height: 100vh;
background-image: url(../images/drew-coffman-1872.jpg);
position: relative;
}
.overlay{

}
.home-content{
width: 60%;
height: 180px;

 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate( -50% , -50%);
text-align: center;
}
.home-p1{
color: #fff;
font-size: 18px;
}
.home-title1{
color:#fff ;
font-size: 50px;
margin: 20px 0px;
}
.home-btn{
width: 160px;
padding: 17px 0px;
border: 0;
border-radius: 5px;

font-size: 15px;
}
.btn-contact{
   background-color:rgb(103, 78, 4) ;
  margin-left: 15px;
}
.gr:hover{
   opacity: 0.8;
   cursor: pointer;
}


/* /////////////////////////////////////////////////////////////// */
.section{
   margin: 180px 0px 110px 0px;
   text-align: center;
   
}
.section-title{
   margin: 10px 0px 10px 0px;
   font-size: 28px;
}
.section-p{
width: 70px;
height: 4px;
background-color: royalblue;
margin: auto;

}

/* ////////////////////////////////////////////////// */
.container{
   width: 80%;
   margin: auto;
 
}

.padding-pd-y{
   padding: 165px 0px;
 }


.section-title-center{
 
   text-align: center;
   font-size: 30px;
   text-transform: capitalize;
   margin-bottom: 10px;
  }
  .section-header .line{
   display: block;
    width: 85px;
    height: 5px;
    background-color: royalblue;
    margin: 0 auto 80px auto;


  }

.website-item{
width:30%;
border: 2px solid black;
float: left;
text-align: center;
padding: 30px 20px;
margin-bottom: 220px;
position: relative;
}
.website-i1,.website-i2,.website-i3{
font-size: 28px;
margin-bottom: 14px;
color: #fff;
background-color: #8e7754;
}
.website-p1{
text-transform: capitalize;
margin:10px 0px 10px 0px;
}
.website-a1{
text-decoration: none;
color: #151515;
}


.website-item:after{
position: absolute;
content: "";


width:0 ;
height: 0;
top: 0;
left: 0;


opacity: 0;
background-color: rgb(32, 32, 32);

}

.website-item:hover::after{
width: 100%;
height: 100%;
opacity: 0.5;
transition: 1s;
}

/* ///////////////////////////////////////////////////////////////////////// */

.padding-section-featured{
   padding: 140px 0px;
   
}
.section{
   margin: 180px 0px 90px 0px;
   text-align: center;
   
}
.section-title{
   margin: 10px 0px 10px 0px;
   font-size: 28px;
}
.section-p{
   
width: 70px;
height: 4px;
background-color: royalblue;
margin: auto;

}
/* //////////////////////////////////////////////////////////////////////////////// */


.works-content{
 
}
.works-item{
width: 30%;

float: left;
margin-bottom: 50px;
padding: 20px;
text-align: center;
position: relative;


}
.works-img {
position: relative;


}

.works-img  img{
   width: 100%;
   height: 300px;
}
 .works-info{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
 
   background-color: rgba(0, 0, 0, .7);
  visibility: hidden;
  opacity: 0;


}
.works-item:hover .works-info{
  
  visibility: visible;
  opacity: 1;
}

.works-item .works-overlay{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   
 }
  .works-overlay-title1{
   color: #fff;
   text-transform: uppercase;
   padding: 10px 0px;
  
  }
 
  .works-overlay-p1{
  color: #fff;
 padding-bottom: 10px;
 font-size: 18px;
  }
 
  .works-overlay a i{
 
    color: #8e7754;
  
  font-size: 30px;
  }













/* ////////////////////////////////////////////////////////////// */

/* ////////////////////////////// */

.offer-item{
width:30% ;
border: 2px solid black;
padding: 40px 30px;
float: left;
margin-bottom: 100px;
text-align: center;
position: relative;

}
.fa-i1{
   margin-bottom: 20px;
   color:#8e7754 ;
   background-color:#fff ;
   font-size: 30px;

}

.offer-item-title{
   display: inline;
  margin-bottom: 30px;
}
.offer-item:after{
position: absolute;
content: "";

width: 0;
height: 0;

top: 0;
left: 0;
background-color: rgba(0, 0, 0, .7);
opacity: 0;

}
.offer-item:hover::after{
width: 100%;
height: 100%;
opacity:1 ;
transition: 1s;

}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.face{
   margin: 300px 0px;
}
.choose-item{
   width:50%;
   float:left;

}
.clear {
   clear: both;
}
.choose-item .section-header{
   text-align:left;
}
.choose-item .section-header .line{
   margin: 0px 0 45px 0;
}
.line{
   display: block;
width: 65px;
height: 4px;
background-color: royalblue;
margin: 0 auto 70px auto;
}
.choose-item-p1{
   padding-right: 20px;
   color:#151519;
   line-height: 1.4;
   font-size: 18px;
   margin-bottom: 20px;
}
.choose-list {
   list-style: none;
}
.choose-list li i {
   text-align: center;
 
   border: 1px solid #4040406f;
   color: #8e7754;
   padding: 3px;
   border-radius: 50%;
   width: 35px;
   height:35px;
   font-size: 20px;
   
}
.choose-list li{
   margin-bottom: 13px;
   color: #151519;
   
}
.kha {
   width: 450px;
   height: 350px;
}
.choose-bullets{
   list-style: none;
   text-align: center;
}
.choose-bullets li{
   width:10px;
   height:10px;
   display: inline-block;
   background-color: #a8a8a8;
   margin: 10px 5px;
   border-radius: 50%;
}
.choose-bullets li.active{
   background-color: #6195ff;
}
.choose-bullets li:hover{
   background-color: #6195ff;
}

/* ////////////////////////////////////////////////////////////////////////// */




/* /////////////////////////////////////////////////// */
.fixed-picture {
   margin-top: 10px;
background-image: url(../images/Birley_Bakery10.webp);
width: 100vw;
height: 350px;
background-size: cover;
background-attachment: fixed;
position: relative;
}
.fixed-overlay{
   position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
background-color: rgba(0,0,0,0.5);

}

.fixed-content{


}
.fixed-items{
padding-top: 120px;
}
.fixed-items-info{
   width: 25%;
   float: left;
   text-align: center;

}
.fixed-items-info i{
   color:#8e7754 ;
   font-size: 30px;
   display: block;
   margin-bottom: 12px;
}
.fixed-items-info h3{
   font-size: 30px;
   color: #fff;
   margin-bottom: 12px;
}
.fixed-items-info p{
   color: #fff;
   margin-bottom: 12px;
}







/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.spaceing{
   margin:50px 0px  220px 0px;
   padding:  360px 0px;
   
   }


.pricing-item{
   width: 30%;
   float: left;
   text-align: center;
   border: 1px solid black;
  padding: 30px 20px;
  margin-bottom: 150px;
  position: relative;
}
.pricing-item-p1{
font-size: 24px;
margin-bottom: 20px;
}
.pricing-radius{
   width:80px ;
   height:80px ;
   border: 1px solid black;
   border-radius: 50%;
   margin: auto;
   font-size: 22px;
   margin-bottom: 20px;
}
.pricing-info{
   margin-bottom: 20px;
}
.pricing-info-p1{
   margin-bottom: 20px;
}
.pricing-info-btn1{
width: 140px;
height: 40px;
}
.pricing-item:after{
position: absolute;
content: "";

width: 100%;
height:0;

top: 0;
left: 0;

background-color: rgba(0, 0, 0, .7);
opacity: 0;





}
.pricing-item:hover::after{
width: 100%;
height: 100%;
opacity: 1;
transition: 1s;
}

/* //////////////////////////////////////////////////////////////////////// */


.bakery{
   
  width: 100vw;
  height: 300px;
  background-image: url(../images/blog_header.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.bakery-big{


}
.bakery-content{
   width: 90%;
  margin: auto;

}

.bakery-item{
  
   float: left;
   width: 50%;
   color: #151515;
   padding-right: 40px;
  font-size: 18px;
   padding-top: 55px;
   margin-bottom: 140px;
 
}
.bakery-item-info{
   padding:90px 20px 10px 150px;
   position:relative;
   line-height: 1.4;
   margin-bottom: 20px;
   
}
  .bakery-item-info-img1{
   position: absolute;
   top: 82px;
   left: 65px;
   border-radius: 50%;
  width: 80px;
 height: 80px;
border-radius: 50%;
}
.bakery-item-info-p1{
   text-transform: capitalize;
  font-size: 20px;
   margin-left: 76px;
   font-size: 14px;
 

}

/* /////////////////////////////////////////////////////////////// */
.team-pad{
  margin: 200px 0px;
  padding: 140px 0px;
}
.team-content{
}

.team-item{ 
float: left;
width: 30%;
background-color: gray;
padding: 20px 15px;
text-align: center;
position: relative;
}

.div2{
margin: 0px 5%;
}

.team-img{
width: 90%;
margin: auto;
position: relative;
}

.team-img img{
width: 100%;
height: 250px;

}
.team-overlay{
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0, 0, 0, .7);
visibility: hidden;
opacity: 0;


}
.team-item:hover .team-overlay{
visibility: visible;
opacity: 1;
}

.team-overlay a{
display: block;
width: 45px;
height: 45px;
background-color: rgb(82, 166, 235);
color: white;
margin-left: auto;



}
.team-overlay a i{
   line-height: 45px;
}
.team-info-title{
 
   padding: 10px 0px;
   color: #fff;
   }
   .team-info-p{
      color: #fff;
   }
/* //////////////////////////////////////////////////////////// */
.team-item:after {
   position: absolute;
   content: "";
   
   width: 100%;
   height: 0;
   
  top: 0;
  left: 0;
 
 background-color: rgb(54, 54, 54);
 opacity: 0;

}
  .team-item:hover::after{
   width: 100%;
   height: 100%;
 opacity: 0.5;
  transition: 1s;

  } 


/* //////////////////////////////////////////////////////////// */
.foot{
 
   
}
.news-item{
    width: 30%;
    float: left;
    text-align: center;
     padding: 30px 20px;
 position: relative;

}
.news-img{
   width: 90%;
}
.news-img img{
   width: 100%;
}


.news-info-ul1-li{
list-style: none;
display: inline-block;
margin: 15px 0px;
padding: 0px 4px;

}
.fans-i {
  font-size: 20px;
  color: #8e7754;
   
}
.news-info-title1{
   margin-bottom: 15px;
}
.news-info-p1{
   margin-bottom: 15px;
}
.news-info-a1{
  text-decoration: none;
  color: black;
 
}

.news-item:after{
  position: absolute;
  content: "";
  
  width:100% ;
  height: 0;

  top: 0;
  left: 0;
 
background-color: rgba(0, 0, 0, .7);
opacity: 0;

}
.news-item:hover::after{
width: 100%;
height: 100%;
opacity: 1;
transition: .5s;
}

/*////////////////////////////////////////////////////////////// */
.div-space{
   padding-top: 490px;
}


.footer{

   background-color:#151515 ;
   height: 300px;
   text-align: center;
  
  margin: auto;
}

.footer-ul1{
  list-style: none;
  text-align: center;

}
.footer-ul1 li{
   display: inline-block;
   margin: 18px 0px;

}
.footer-ul1 li i{
  display: inline;
   font-size: 30px;
   color: #8e7754;

}
.footer-items-p1{
  color: #fff;

}

























